$font: Verdana, Arial, sans-serif;
$header-font: Georgia, serif;
$background-color: #FEF6E2;
$text-color: #454F05;
$black: #000;
$white: #fff;
$grid-size: 220px;

body, p, div, li {
  font-size: 11px;
}

p, body, div {
  font-family: $font;
}

h1 {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, .navbar-inner li a, .brand {
  font-family: $header-font;
}

h1, h2 {
  font-size: 20px;
}

td {
  vertical-align: top;
}

.container {
  width: 960px;
}

.background {
  background-color: $background-color;
}

.inner h2 {
  line-height: 25px;
  margin-bottom: 10px;
}

.search-advanced {
  display: none;
}

#search-block-form, #search-block-form .form-item {
  margin-bottom: 0;
  margin-top: 0;
}

#search-block-form .form-actions {
  display: none;
}

.search-query {
  width: 180px;
}

.logobox {
  background: url(../img/ruc_logo.png) no-repeat 15px 15px;
  position: relative;

  .logotext {
    bottom: 2px;
    position: absolute;

    span {
      color: $text-color;
      display: block;
      font-family: $header-font;
      font-size: 17px;
      line-height: 17px;
      padding-bottom: 5px;
      padding-left: 2px;
    }

    a {
      color: $text-color;
      font-family: $header-font;
      font-size: 40px !important;
      line-height: 35px !important;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

.frontpagebox {
  height: 240px;
  overflow: hidden;
  width: 240px;
}

.node-answer-form .filter-wrapper {
  display: none;
}

.agreemsg {
  font-family: $font;
  font-size: 15px;
  line-height: 31px;
}

a.greybtn {
  background: url(../img/button_bg.png) right;
  color: $black;
  display: inline-block;
  font-family: $font;
  font-weight: bold;
  font-size: 15px;
  height: 26px;
  padding: 5px 30px 0;
  position: relative;

  span {
    background-image: url(../img/button_left.png);
    height: 31px;
    left: 0;
    position: absolute;
    top: 0;
    width: 11px;
  }
}

.form-actions {
  background-color: inherit;
  border-top: 0;
  margin: 20px 0 0;
  padding: 0;
}

.leftregion {
  float: left;
  width: 720px;

  .inner {
    margin: 14px 18px;
  }
}

.navbar {
  margin-bottom: 0;
}

.navbar .brand:hover {
  color: $white;
}

.navbar-inner, .search-query {
  border-radius: 0;
}

ul.tabs {
  border: 0;
  margin: 10px 0;
  padding: 0;

  li a {
    border-bottom: 1px solid #BBB;
  }

  li.active {
    display: none;
  }
}

.footer {
  border-top: 1px solid #E5E5E5;
  padding: 15px 0 36px;
}

.questionofweek {
  background-color: rgb(228, 31, 97);
  color: $white;
  height: $grid-size;
  padding: 10px;
  width: $grid-size;

  .question {
    font-size: 16px;
    font-weight: Bold;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  h2.answer {
    font-size: 16px;
  }

  h2, h3 {
    text-align: center;
  }
}

.questionteaser {

  p.question {
    font-size: 16px;
    font-weight: Bold;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  h2, h3 {
    text-align: center;
  }

  p.question {
    font-size: 16px !important;
  }

  a {
    font-size: 15px !important;
  }
}

.grid {
  .item {
    float: left;
    height: $grid-size;
    padding: 10px;
    width: $grid-size;

    h2 {
      font-size: 20px;
    }

    p, a {
      font-size: 11px;
    }

    a {
      color: #333;
    }
  }
  /*
  .grid.questions .row-1 .col-1 { background-color:rgb(162,215,222); }
  .grid.questions .row-1 .col-2 { background-color:rgb(210,214,2); }
  .grid.questions .row-1 .col-3 { background-color:rgb(212,219,205); }
  .grid.questions .row-1 .col-4 { background-color:rgb(228,31,97); }
  .grid.questions .row-1 .col-5 { background-color:rgb(186,190,149); }
  .grid.questions .row-1 .col-6 { background-color:rgb(110,196,203); }
  .grid.questions .row-1 .col-7 { background-color:rgb(253,245,226); }
  .grid.questions .row-1 .col-8 { background-color:rgb(179,202,29); }
  */
  &.questions {
    h3 {
      font-size: 16px;
      margin: 10px 0;
    }

    .answerlink a {
      background-color: white;
      color: #D4DBCD;
      font-size: 16px;
      padding: 3px 2px 3px 1px;
    }

    .col-1 .answerlink a {
      color: rgb(162, 215, 222);
    }

    .col-2 .answerlink a {
      color: rgb(210, 214, 2);
    }

    .col-3 .answerlink a {
      color: rgb(212, 219, 205);
    }

    .col-4 .answerlink a {
      color: rgb(228, 31, 97);
    }

    .col-5 .answerlink a {
      color: rgb(186, 190, 149);
    }

    .col-6 .answerlink a {
      color: rgb(110, 196, 203);
    }
  }

  &.gallery {
    .item {
      height: 240px;
      padding: 0;
      width: 240px;

      &.text {
        background-color: #b5d00a;
      }

    }

    .inner {
      margin: 10px;
    }
  }

  .row-1 {
    .col-1 {
      background-color: #b5d00a;
    }

    .col-2 {
      background-color: #64cdd2;
    }

    .col-3 {
      background-color: #c5c596;
    }

    .col-4 {
      background-color: #d8f613;
    }

    .col-5 {
      background-color: #ff005f;
    }

    .col-6 {
      background-color: #d8f613;
    }

    .col-7 {
      background-color: #fef6e2;
      height: 240px;
      margin: 0;
      padding: 0;
      width: 240px;
    }

    .col-8 {
      background-color: #9be2e5;
    }
  }

  .row-2 {
    .col-1 {
      background-color: #ff005f;
    }

    .col-2 {
      background-color: #d8f613;
    }

    .col-3 {
      background-color: #fef6e2;
    }

    .col-4 {
      background-color: #9be2e5;
    }
  }

  .row-3 {
    .col-1 {
      background-color: #9be2e5;
    }

    .col-2 {
      background-color: #fef6e2;
    }

    .col-3 {
      background-color: #64cdd2;
    }

    .col-4 {
      background-color: #ff005f;
    }
  }

  .row-4 {
    .col-1 {
      background-color: #d8f613;
    }

    .col-2 {
      background-color: #b5d00a;
    }

    .col-3 {
      background-color: #d8f613;
    }

    .col-4 {
      background-color: #b5d00a;
    }
  }
}


.view {
  .pager {
    margin-top: 20px;
  }
}

.answernode {
  .answercontent {
    margin: 10px 0 20px 0;
  }
}

.bigqmark {
  font-size: 180px;
  line-height: 180px;
  text-align: center;
}

table {
  &.cols-3 {
    .span4 {
      background-color: rgb(162, 215, 222);
      margin-bottom: 15px;
      margin-right: 15px;
      min-height: 270px;
      padding: 19px;
      width: 270px;

      .col-last {
        .span4 {
          margin-right: 0;
        }
      }
    }
  }
}

.span6 {
  width: 560px;
}

ul {
  .pager {
    margin-top: 1em !important;
    padding-top: 1em !important;
  }
}
