$font: Verdana, Arial, sans-serif;
$header-font: Georgia, serif;
$grid-size: 220px;
$front-page-box-size: 240px;

// Colors.
$background-color: #FEF6E2;
$text-color: #454F05;
$black: #000;
$white: #fff;
$dark-grey: #BBB;
$grey: rgb(212, 219, 205);
$light-grey: #E5E5E5;
$grid-featured: rgb(228, 31, 97);
$grid-one: #d8f613;
$grid-two: #b5d00a;
$grid-three: #9be2e5;
$grid-four: #64cdd2;

body,
p,
div,
li {
  font-size: 11px;
}

p,
body,
div {
  font-family: $font;
}

h1 {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
.navbar-inner li a,
.brand {
  font-family: $header-font;
}

h1, h2 {
  font-size: 20px;
}

td {
  vertical-align: top;
}

.container {
  width: 960px;
}

.background {
  background-color: $background-color;
}

.inner h2 {
  line-height: 25px;
  margin-bottom: 10px;
}

.search-advanced {
  display: none;
}

#search-block-form, #search-block-form .form-item {
  margin-bottom: 0;
  margin-top: 0;

  .form-actions {
    display: none;
  }

  .form-item {
    margin-bottom: 0;
    margin-top: 0;
  }

}

.search-query {
  width: 180px;
}

.logobox {
  position: relative;

  img {
    display: block;
    margin: auto;
    margin-top: 40px;
  }
}

.frontpagebox {
  height: $front-page-box-size;
  overflow: hidden;
  width: $front-page-box-size;
}

.node-answer-form .filter-wrapper {
  display: none;
}

.agreemsg {
  font-family: $font;
  font-size: 15px;
  line-height: 31px;
}

a.greybtn {
  background: url(../img/button_bg.png) right;
  color: $black;
  display: inline-block;
  font-family: $font;
  font-weight: bold;
  font-size: 15px;
  height: 26px;
  padding: 5px 30px 0;
  position: relative;

  span {
    background-image: url(../img/button_left.png);
    height: 31px;
    left: 0;
    position: absolute;
    top: 0;
    width: 11px;
  }
}

.form-actions {
  background-color: inherit;
  border-top: 0;
  margin: 20px 0 0;
  padding: 0;
}

.leftregion {
  float: left;
  width: 720px;

  .inner {
    margin: 14px 18px;
  }
}

.navbar {
  margin-bottom: 0;
  .brand:hover {
    color: $white;
  }
}

.navbar-inner, .search-query {
  border-radius: 0;
}

ul.tabs {
  border: 0;
  margin: 10px 0;
  padding: 0;

  li a {
    border-bottom: 1px solid $dark-grey;
  }

  li.active {
    display: none;
  }
}

.footer {
  border-top: 1px solid $light-grey;
  padding: 15px 0 36px;
}

.questionofweek {
  background-color: $grid-featured;
  color: $white;
  height: $grid-size;
  padding: 10px;
  width: $grid-size;

  .question {
    font-size: 16px;
    font-weight: Bold;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  h2.answer {
    font-size: 16px;
  }

  h2, h3 {
    text-align: center;
  }
}

.questionteaser {

  p.question {
    font-size: 16px;
    font-weight: Bold;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  h2, h3 {
    text-align: center;
  }

  p.question {
    font-size: 16px !important;
  }

  a {
    font-size: 15px !important;
  }
}

.grid {
  .item {
    float: left;
    height: $grid-size;
    padding: 10px;
    width: $grid-size;

    h2 {
      font-size: 20px;
    }

    p, a {
      font-size: 11px;
    }

    a {
      color: $text-color;
    }
  }
  /*
  .grid.questions .row-1 .col-1 { background-color:rgb(162,215,222); }
  .grid.questions .row-1 .col-2 { background-color:rgb(210,214,2); }
  .grid.questions .row-1 .col-3 { background-color:rgb(212,219,205); }
  .grid.questions .row-1 .col-4 { background-color:rgb(228,31,97); }
  .grid.questions .row-1 .col-5 { background-color:rgb(186,190,149); }
  .grid.questions .row-1 .col-6 { background-color:rgb(110,196,203); }
  .grid.questions .row-1 .col-7 { background-color:rgb(253,245,226); }
  .grid.questions .row-1 .col-8 { background-color:rgb(179,202,29); }
  */
  &.questions {
    h3 {
      font-size: 16px;
      margin: 10px 0;
    }

    .answerlink a {
      background-color: $white;
      color: $light-grey;
      font-size: 16px;
      padding: 3px 2px 3px 1px;
    }

    .col-1 .answerlink a {
      color: $grid-three;
    }

    .col-2 .answerlink a {
      color: $grid-two;
    }

    .col-3 .answerlink a {
      color: $grey;
    }

    .col-4 .answerlink a {
      color: $grid-featured;
    }

    .col-5 .answerlink a {
      color: $dark-grey;
    }

    .col-6 .answerlink a {
      color: $grid-four;
    }
  }

  &.gallery {
    .item {
      height: 240px;
      padding: 0;
      width: 240px;

      &.text {
        background-color: $grid-two;
      }

    }

    .inner {
      margin: 10px;
    }
  }

  .row-1 {
    .col-1 {
      background-color: $grid-two;
    }

    .col-2 {
      background-color: $grid-four;
    }

    .col-3 {
      background-color: $dark-grey;
    }

    .col-4 {
      background-color: $grid-one;
    }

    .col-5 {
      background-color: $grid-featured;
    }

    .col-6 {
      background-color: $grid-one;
    }

    .col-7 {
      background-color: $background-color;
      height: $front-page-box-size;
      margin: 0;
      padding: 0;
      width: $front-page-box-size;
    }

    .col-8 {
      background-color: $grid-three;
    }
  }

  .row-2 {
    .col-1 {
      background-color: $grid-featured;
    }

    .col-2 {
      background-color: $grid-one;
    }

    .col-3 {
      background-color: $background-color;
    }

    .col-4 {
      background-color: $grid-three;
    }
  }

  .row-3 {
    .col-1 {
      background-color: $grid-three;
    }

    .col-2 {
      background-color: $background-color;
    }

    .col-3 {
      background-color: $grid-four;
    }

    .col-4 {
      background-color: $grid-featured;
    }
  }

  .row-4 {
    .col-1 {
      background-color: $grid-one;
    }

    .col-2 {
      background-color: $grid-two;
    }

    .col-3 {
      background-color: $grid-one;
    }

    .col-4 {
      background-color: $grid-two;
    }
  }
}

.view {
  .pager {
    margin-top: 20px;
  }
}

.answernode {
  .answercontent {
    margin: 10px 0 20px 0;
  }
}

.bigqmark {
  font-size: 180px;
  line-height: 180px;
  text-align: center;
}

table {
  &.cols-3 {
    .span4 {
      background-color: $grid-three;
      margin-bottom: 15px;
      margin-right: 15px;
      min-height: 270px;
      padding: 19px;
      width: 270px;

      .col-last {
        .span4 {
          margin-right: 0;
        }
      }
    }
  }
}

.span6 {
  width: 560px;
}

ul {
  .pager {
    margin-top: 1em !important;
    padding-top: 1em !important;
  }
}
